/* src/App.css */

/* Apply a fun background */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #dcbfe9, #8e44ad); /* Purple gradient background */
}

/* Container for the entire app */
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
  min-height: 80vh;
  color: white;
}

/* Flex container for header and form */
.app-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px; 
}

/* Header styling */
.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px; /* Space between logo and form */
}

.app-header .logo {
  width: 150px; 
  height: auto;
}

.app-header h1 {
  font-size: 2.5rem;
  margin: 40px 0px;
}

/* Main content styling */
.app-main {
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 700px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-main h2 {
  color: #8e44ad; /* Purple color */
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.app-main h4 {
  color: #000000; /* black color */
  font-size: 1.0rem;
  margin-bottom: 20px;
}
/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="date"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  background: #f9f9f9; /* Light background for input fields */
}

button {
  background: #8e44ad; /* Purple button background */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

button:hover {
  background: #732d91; /* Darker purple on hover */
}

/* Message styling */
p {
  font-size: 1.0rem;
  font-weight: bold;
  color: rgb(188, 8, 8);

}
